<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> UserList</h2>
  </div>
  <div class="col-md-6">
    <h5 class="pull-right text-muted"></h5>
  </div>

  <div class="col-md-2">
    <div class="text-right"><app-sidebar></app-sidebar></div>
  </div>
</div>

<table *ngIf="users?.length > 0; " class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Access</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.$key}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.access}}</td>
      <td><a [routerLink]="['/user/'+user.$key]" href="" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"></i>Details</a></td>
    </tr>
  </tbody>
</table>
