<div class="row">
  <div class="col-md-6">
    <a routerLink="/users" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back To Users</a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Add User
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="users.firstName"
          name="firstName"
          #userFirstName="ngModel"
          minlength="2"
          required>
        <div *ngIf="userFirstName.errors?.required && userFirstName.touched" class="alert alert-danger">
          First name is required
        </div>
        <div *ngIf="userFirstName.errors?.minlength && userFirstName.touched" class="alert alert-danger">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="users.lastName"
          name="lastName"
          #userLastName="ngModel"
          minlength="2"
          required>
        <div *ngIf="userLastName.errors?.required && userLastName.touched" class="alert alert-danger">
          Last name is required
        </div>
        <div *ngIf="userLastName.errors?.minlength && userLastName.touched" class="alert alert-danger">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="users.email"
          name="email"
          #userEmail="ngModel"
          minlength="2"
          required
        >
        <div *ngIf="userEmail.errors?.required && userEmail.touched" class="alert alert-danger">
          Email required
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="users.phone"
          name="phone"
          #userPhone="ngModel"
          minlength="10"
          required
        >
        <div *ngIf="userPhone.errors?.minlength && userPhone.touched" class="alert alert-danger">
          Add a valid phone number
        </div>
      </div>

      <div class="form-group">
        <label>Access</label>
        <select [(ngModel)]="selectedValue" name="access" class="form-control">
          <option *ngFor="let c of access" value="{{c.id}}">{{c.name}}</option>
        </select>
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>
