<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TManage</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/">Dashboard</a>
      </li>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">{{loggedInUser}}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" routerLink="/settings">Settings</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
